{% extends "base.twig" %}

{% block content %}
	<section class="relative grid grid-cols-1 md:grid-cols-2">		
		<div class="container grid grid-cols-1 gap-3 px-6 mx-auto md:grid-cols-2 md:gap-6">
			{% for post in posts %}
				{% include ['previews/'~post.post_type~'.twig', 'previews/post.twig'] %}
			{% endfor %}

			<div class="flex justify-center pt-6 md:col-span-2">
				{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
			</div>
		</div>
	</div>
{% endblock %}